.heroBg {
    position: relative; /* Ensure the overlay is positioned relative to this container */
    background-image: url('https://i.ibb.co/BGg9Bhb/smiling-sports-woman-standing-with-arms-folded-looking-camera-isolated-white-wall-fotor-202311261853.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  